*{
    margin:0px;
    padding:0px;
}
body{
    display:flex;
    justify-content: center;
    margin-top:100px;
}
.calcsi{
    border:0.1px solid red;
    width:230px;
    height:280px;
    display: flex;
    justify-content: center;
}
.calcsi:hover{
    box-shadow: 5px 2px 3px rgb(112, 48, 48);
}
.content{
    margin-left:10px;
    margin-top:5px;
}
button{
    padding:11px;
    margin:2px;
    background-color: antiquewhite;
}
button:hover{
    border-radius: 50px;
    box-shadow: 2px 1px 1px rgb(88, 88, 88);
    background-color: rgb(180, 175, 175);
    color:azure;
}
input{
    height:40px;
    width:205px;
    background-color: rgb(201, 197, 197);
    color:rgba(255, 0, 13, 0.938);
}